meta/

__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.log

.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

.env
*.env

*.sqlite3
*.db

.coverage
htmlcov/

.cache
pytest_cache/

.DS_Store
Thumbs.db
