@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-900;
    @apply text-neutral-300;
}

body {
    --sb-track-color: transperent;
    --sb-thumb-color: #64e8d9;
    --sb-size: 14px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;
    border: 1px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}